/* ==========================================================================
   All Style Header
========================================================================== */
#cshero-header {
  width: 100%;
  z-index: 9;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #dedede;
  @include transition(all 420ms linear 0ms);
  &.no-sticky {
    position: relative;
    &.header-fixed-page {
      position: fixed;
    }
  }
  &.header-fixed, &.header-fixed-page {
    @include transition(all 420ms linear 0ms);
  }
  #cshero-header-logo a img {
    @include transition(all 420ms linear 0ms);
  }
  > .container {
    position: relative;
    z-index: 99;
  }
  &.header-fixed-page.header-fixed-page-trans {
    position: absolute;
  }
}
/*** Admin Bar ***/
.admin-bar {
  #cshero-header {
    top: 32px;
    &.no-sticky {
      top: 0;
      &.header-fixed-page {
        top: 32px;
      }
    }
  }
}
/*** End Admin Bar ***/

/*** Logo ***/
#cshero-header-logo a {
  display: block;
  @include transition(all 300ms linear 0ms);
}
/*** End Logo ***/

/* ==========================================================================
  End All Style Header
========================================================================== */