#cs-header{
  position: relative;
  &.header-fixed{
    z-index: 9;
    background: #ccc;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include transition (all 2s ease-in-out);
  }
}
.admin-bar{
  #cs-header{
    &.header-fixed{
      top: 32px;
    }
  }
}