/* Navigation Menu */
.main-navigation div.nav-menu > ul {
  max-height: 0;
  overflow: hidden;
  transition: all 500ms ease;
}

/* Minimum width of 992 pixels. */
@media screen and (min-width: 992px) {
  .main-navigation div.nav-menu > ul {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    display: inline-block !important;
    text-align: left;
    width: 100%;
  }
  .main-navigation ul {
    margin: 0;
    text-indent: 0;
  }
  .main-navigation li a,
  .main-navigation li {
    display: inline-block;
    text-decoration: none;
  }
  .main-navigation li a {
    border-bottom: 0;
    color: #6a6a6a;
    line-height: 3.692307692;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .main-navigation li a:hover,
  .main-navigation li a:focus {
    color: #000;
  }
  .main-navigation li {
    margin: 0 40px 0 0;
    position: relative;
  }
  .main-navigation li li {
    margin: 0;
  }
  .main-navigation li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .main-navigation li ul ul {
    top: 0;
    left: 100%;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li:focus > ul,
  .main-navigation .focus > ul {
    border-left: 0;
    clip: inherit;
    overflow: inherit;
    height: inherit;
    width: inherit;
  }
  .main-navigation li ul li a {
    background: #efefef;
    border-bottom: 1px solid #ededed;
    display: block;
    font-size: 13px;
    padding: 8px 10px;
    line-height: 1.2;
    width: 240px;
    white-space: normal;
  }
  .main-navigation li ul li a:hover,
  .main-navigation li ul li a:focus {
    background: #e3e3e3;
    color: #444;
  }
  .main-navigation .current-menu-item > a,
  .main-navigation .current-menu-ancestor > a,
  .main-navigation .current_page_item > a,
  .main-navigation .current_page_ancestor > a {
    color: #636363;
    font-weight: bold;
  }
}

/* Minimum width of 992 pixels. */
@media screen and (max-width: 991px) {
  #menu-mobile{
    position: absolute;
    top: 15px;
    right: 30px;
    margin-top: -5px;
  }
  .main-navigation div.nav-menu > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      list-style: none;
      a{
        display: block;
        color: #5e5e5e;
        &:hover, &:focus{
          color: #21759b;
        }
      }
    }
  }
  .collapse .main-navigation div.nav-menu > ul{
    display: block;
    max-height: 2000px;
  }
}