@media screen and (min-width: 1200px) {
  body .cs-boxed {
    margin: auto;
    width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  body > div > div > .container,
  #cs-header > .container{
    width: 100%!important;
  }
}